body.waiter {
  background-color: #d4eac7; /* Light creamy green */
}

body.kitchen {
  background-color: #f5d1a5; /* Creamy orange */
}

.green-text {
  color: green;
}

.orange-text {
  color: orange;
}
